[submodule "ext/libvpx"]
	path = ext/libvpx
	url = http://git.chromium.org/webm/libvpx.git
[submodule "ext/libwebp"]
	path = ext/libwebp
	url = http://git.chromium.org/webm/libwebp.git
[submodule "ext/libwebm"]
	path = ext/libwebm
	url = http://git.chromium.org/webm/libwebm.git
[submodule "ext/libvorbis"]
	path = ext/libvorbis
	url = https://git.xiph.org/mirrors/vorbis.git
[submodule "ext/libogg"]
	path = ext/libogg
	url = https://git.xiph.org/mirrors/ogg.git
[submodule "ext/opus"]
	path = ext/opus
	url = git://git.opus-codec.org/opus.git
